@use "constants";
@use "fonts";

html, body {
  background-color: var(--spark-background);
  color: var(--spark-foreground);
}

body {
  margin: 0;
  padding: var(--spark-gutter);
  font-family: var(--spark-font-family);
  font-size: var(--spark-font-size);
  line-height: var(--spark-line-height);
}
