@use "constants";
@use "fonts";

html, body {
  background-color: var(--mn-background);
  color: var(--mn-foreground);
}

body {
  margin: 0;
  padding: var(--mn-gutter);
  font-family: var(--mn-font-family);
  font-size: var(--mn-font-size);
  line-height: var(--mn-line-height);
}
