@use "themes" as *;
@use "fonts" as *;

html, body {
  background-color: var(--spark-background);
  color: var(--spark-foreground);
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--spark-font-family);
  font-size: var(--spark-font-size);
  line-height: var(--spark-line-height);
}
