@use "base";
@use "../../shared/components/list-item.scss";

:host {
  > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline-offset: -2px; // Prevent overlap from adjacent elements
    cursor: pointer;

    &.not-found {
      border: none;
      justify-content: center;
    }

    &:not(.not-found):hover {
      background-color: var(--spark-background-dimmer);
    }
  }
}
