@use "base";

.button-list {
  list-style: none;
  padding-left: 0;
  margin-top: 7px;
  margin-bottom: 0;
}

.button-list-item {
  > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 0;
    border-top: 1px solid #f0f0f0;
    cursor: pointer;

    &.not-found {
      border: none;
      justify-content: center;
    }

    &:not(.not-found):hover {
      background-color: #f9f9f9;
    }
  }
}
