@use "base";
@use "../../shared/components/list.scss";

.empty {
  text-align: center;
  color: #666;
  text-decoration: italic;
  margin-bottom: 28px;
}

.error {
  text-align: center;
  color: var(--mn-action-red);
}
