@use "base" as *;
@use "../../shared/components/list.scss";

.empty {
  text-align: center;
  color: var(--spark-foreground-dimmer);
  font-style: italic;
  margin-bottom: 28px;
}

.error {
  text-align: center;
  color: var(--spark-danger);
}
