@use "base";
@use "../../shared/components/list.scss";

.empty {
  text-align: center;
  color: var(--mn-foreground-fainter);
  font-style: italic;
  margin-bottom: 28px;
}

.error {
  text-align: center;
  color: var(--mn-action-red);
}
