@use 'base';

$offset: 7px;

.field-help {
  position: absolute;
  right: 0;
  display: inline-block;
  background-color: var(--mn-foreground-faintest);
  color: var(--mn-background);
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 13px;
  line-height: 100%;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    .field-description {
      animation: fadeIn 0.3s ease-in-out forwards;
      pointer-events: auto;
    }
  }
}

.field-description {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
  padding: 8px;
  border-radius: var(--mn-field-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 1001;
  top: calc(100% + #{$offset + 1px});
  right: -#{$offset - 1px};
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  cursor: default;

  &:before {
    content: '';
    position: absolute;
    top: -#{$offset};
    right: #{$offset};
    width: 0;
    height: 0;
    border-left: $offset solid transparent;
    border-right: $offset solid transparent;
    border-bottom: $offset solid rgba(0, 0, 0, 0.7);
  }
}
