@use "base" as *;

:host {
  position: absolute;
  display: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: color-mix(in srgb, var(--spark-progress-spinner-background, var(--spark-foreground)) 15%, transparent);
  color: var(--spark-progress-spinner-color, var(--spark-primary));
  z-index: 1000;

  .spinner {
    position: relative;
    width: var(--spark-progress-spinner-size, 64px);
    aspect-ratio: 1;
  }

  .arc {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: var(--spark-progress-spinner-size, 64px);
    aspect-ratio: 1;
    border: var(--spark-progress-spinner-stroke-width, 5px) solid currentColor;
    border-radius: 50%;
    border-color: currentColor transparent transparent transparent;
    animation: spin var(--spark-progress-spinner-speed, 1.2s) cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(0) {
      animation-delay: -0.6s;
      border-color: color-mix(in srgb, currentColor 40%, transparent) transparent transparent transparent;
    }

    &:nth-child(1) {
      animation-delay: -0.3s;
      border-color: color-mix(in srgb, currentColor 60%, transparent) transparent transparent transparent;
    }

    &:nth-child(2) {
      animation-delay: -0.15s;
      border-color: color-mix(in srgb, currentColor 80%, transparent) transparent transparent transparent;
    }
  }
}

:host([show]) {
  display: flex;
}
