@use "base";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.record-name {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
  text-align: left;
}

.record-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  flex: 0 0 auto;
}

.delete-button {
  color: var(--mn-action-red);

  &:hover {
    background-color: var(--mn-action-red-lightest);
  }
}

.play-button {
  font-size: 14px;
  color: var(--mn-action-green);
  background-color: #fff;

  &:hover {
    background-color: var(--mn-action-green-lightest);
  }
}

.pause-button {
  font-size: 20px;

  &:hover {
    background-color: var(--mn-action-blue-lightest);
  }
}
