@use "base";
@use "../../shared/components/data-list.scss";

.record-name {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
  text-align: left;
}

.record-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  flex: 0 0 auto;
}
