@use "constants";
@use "colors";
@use "button";

h1, h2, h3, h4, h5, h6 {
  font-family: var(--mn-font-family-serif);
  letter-spacing: 1.5px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

label {
  position: relative;
  font-size: 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: .33em;
  font-weight: bold;
  color: var(--mn-foreground-dimmer);
}

input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  border: 1px solid var(--mn-border-color);
  border-radius: var(--mn-field-border-radius);
  font-size: 1em;
  background-color: var(--mn-input-background);
  color: var(--mn-input-foreground);
  border: 1px solid var(--mn-border-color);

  &[readonly] {
    background-color: var(--mn-input-disabled);
    cursor: not-allowed;
  }

  &[type="checkbox"] {
    width: auto;
    margin-right: 8px;
    accent-color: var(--mn-input-background);
    color: var(--mn-foreground);
    width: 17px;
    height: 17px;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-color: var(--mn-input-background);
      border: 1px solid var(--mn-input-foreground);
      border-radius: inherit;
    }

    &:checked:after {
      background-color: transparent;
    }
  }
}

.not-found {
  text-align: center;
  font-size: 1em;
  color: var(--mn-foreground-dimmer);
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.faint {
  color: var(--mn-foreground-dimmest);
}

.italic {
  font-style: italic;
}

.large {
  font-size: 1.2em;
}

.small {
  font-size: 0.8em;
}

.underline {
  text-decoration: underline;
}
