@use "constants.scss";

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: none;
  line-height: 100%;
  color: inherit;
  cursor: pointer;
  background-color: #fff;
  color: var(--mn-action-blue);
  font-size: 1.1em;
}

.not-found {
  text-align: center;
  font-size: 1em;
  color: #999;
  margin-bottom: 20px;
}

.bottom-sheet {
  animation: slideUp 0.3s ease-out forwards;
}
