@use "constants";

.spark-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  border-radius: var(--spark-field-border-radius);
  background: none;
  color: inherit;
  cursor: pointer;
  transition:
    color 0.2s,
    background 0.2s,
    background-color 0.2s;

  &[raised] {
    box-shadow: var(--spark-shadow);

    &:hover {
      box-shadow: var(--spark-shadow-heavy);
    }
  }

  &[outline] {
    border: 1px solid var(--spark-border-color);
  }

  &[shape="round"] {
    border-radius: 50%;
  }

  /// Mixin to generate color button themes with hover and non-raised states
  /// @param {string} $theme - The theme name (e.g., primary, secondary)
  @mixin button-theme($theme) {
    &[theme="#{$theme}"] {
      &:not([raised]) {
        background-color: inherit;
        color: var(--spark-#{$theme});

        &:hover {
          background-color: var(--spark-#{$theme}-faintest);
        }
      }

      &[raised] {
        &:hover {
          background-color: var(--spark-#{$theme}-dim);
        }
      }

      &:active,
      &:active:focus {
        background-color: var(--spark-#{$theme});
        color: var(--spark-#{$theme}-inverted);
      }
    }
  }

  @include button-theme(primary);
  @include button-theme(secondary);
  @include button-theme(tertiary);
  @include button-theme(info);
  @include button-theme(success);
  @include button-theme(warning);
  @include button-theme(danger);

  &[icon] {
    width: auto;
    height: var(--spark-icon-button-size, 30px);
    aspect-ratio: 1 / 1;
    font-size: calc(var(--spark-icon-button-size, 30px) * 0.8);
    line-height: 1;
    border-radius: 50%;

    &[shape="rectangle"] {
      border-radius: var(--spark-field-border-radius);
    }

    &:after {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }

  &[icon="add"] {
    font-size: calc(var(--spark-icon-button-size, 30px) * 0.9);

    &:after {
      content: '\002B'; // Unicode for plus sign (+)
    }
  }

  &[icon="check"] {
    font-size: calc(var(--spark-icon-button-size, 30px) * 0.55);

    &:after {
      content: '\2714'; // Unicode for check mark (✓)
    }
  }

  &[icon="close"],
  &[icon="delete"] {
    &:after {
      content: '\00D7'; // Unicode for multiplication sign (×)
    }
  }

  &[icon="pause"] {
    &:after {
      content: '\23F8'; // Unicode for pause symbol (⏸)
    }
  }

  &[icon="play"] {
    font-size: calc(var(--spark-icon-button-size, 30px) * 0.55);

    &:after {
      content: '\25B6'; // Unicode for play symbol (▶)
    }
  }
}
