@use "constants" as *;
@forward "constants";

[class^="icon-"], [class*=" icon-"], [icon] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[icon="add"],
.icon-add {
  &:before {
    content: $icon-add;
  }
}

[icon="check"],
.icon-check,
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}

[icon="close"],
.icon-close {
  &:before {
    content: $icon-close;
  }
}

[icon="delete"],
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}

[icon="edit"],
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}

[icon="pause"],
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}

[icon="play"],
.icon-play {
  &:before {
    content: $icon-play;
  }
}
