// Fonts
$font-path: "../public/fonts";
$brand-font-family: "Orbitron" !default;
$serif-font-family: "Merriweather" !default;
$sans-serif-font-family: "Roboto" !default;
$icomoon-font-family: "icomoon" !default;

$icon-pencil: "\270e";
$icon-write: "\270e";
$icon-edit: "\270e";
$icon-play: "\25b6";
$icon-player1: "\25b6";
$icon-pause: "\23f8";
$icon-player: "\23f8";
$icon-checkmark: "\2714";
$icon-tick: "\2714";
$icon-correct: "\2714";
$icon-accept: "\2714";
$icon-ok: "\2714";
$icon-cross: "\d7";
$icon-cancel: "\d7";
$icon-close: "\d7";
$icon-quit: "\d7";
$icon-remove: "\d7";
$icon-bin: "\1f5d1";
$icon-trashcan: "\1f5d1";
$icon-remove1: "\1f5d1";
$icon-delete: "\1f5d1";
$icon-recycle: "\1f5d1";
$icon-dispose: "\1f5d1";
$icon-plus: "\2b";
$icon-add: "\2b";
$icon-sum: "\2b";
