@use 'base';
@use '../../shared/components/modal.scss';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--spark-border-color);
}

.title {
  font-weight: bold;
  text-align: center;
  padding: 0 30px;
  margin: 0;
  flex: 1 1 auto;
}

.body {
  padding: 16px;
}

.error {
  margin-bottom: 8px;

  &:empty {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid var(--spark-border-color);
}

.spark-button {
  &[icon="close"],
  &[icon="check"] {
    margin-left: 10px;
    color: var(--spark-foreground);
    padding: 8px 16px;
  }
}
