@use "base" as *;
@use "../../shared/components/modal";

spark-code-editor {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100% - 20px);
}

.body {
  padding: 0;
  max-height: 100%;
}

select {
  width: 100%;
}
